body {
    font-family: inter, arial;
    margin: 20px;
    padding: 10px;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    background-color: seagreen;
}

.board div {
    background-color: white;
    font-size: 100px;
    text-align: center;
    color: seagreen;
}

.copyright {
    padding: 20px;
    text-align: center;
}